
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

ul,
ol,
menu,
li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

:root {
	--dark-blue: #141922;
	--dark-gray: #282828;
	--green: #adff2f;
	--gray: #7d7f84;
	--sidebar-width: 230px;
}


/* DEBUG */

    body {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
    
    main {
        flex-grow: 1;
        overflow: hidden;
        display: flex;
    }
    
    .sidebar {
        flex-basis: var(--sidaber-width);
        flex-shrink: 0;
        overflow: hidden;
    }
    
    .music {
        flex-grow: 1;
        overflow-y: auto;
    }
    
    .player {
        flex-shrink: 0;
    }




/* MAIN */




/* SIDEBAR */
.sidebar {
	width: var(--sidebar-width);
	overflow: hidden;
	background-color: black;
    display: flex;
    flex-direction: column;
    /* padding-left: 17px; */
}


.sidebar,
.music {
	height: calc(100vh - 90px);
}

/* LOGO */
.logo-wrapper {
	padding-top: 22px;
	padding-bottom: 22px;
}

.logo-wrapper .logo {
	width: 133px;
}

.logo-wrapper .logo-sm {
	display: none;
	width: 28px;
}

.sidebar-h-padding {
	padding-left: 20px;
	padding-right: 12px;
}

/* SITE--NAV */

.menu-item__text{
    color: var(--gray);
}

.main-menu__item {
	opacity: 0.7;
	position: relative;
}

.main-menu__item:hover,
.main-menu__item.active {
	opacity: 1;
}

.main-menu__item > a {
	display: flex;
	align-items: center;
	gap: 8px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.menu-item__icon {
	width: 30px;
}


.main-menu__item::before {
	content: '';
	display: none;
	width: 4px;
	background-color: var(--green);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
}

.main-menu__item:hover::before,
.main-menu__item.active::before {
	display: block;
}


/* PLAYLIST */
.widget__title {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
    color: white;
}

.new-playlist-btn {
	display: flex;
	align-items: center;
	gap: 10px;
	padding-top: 12px;
	padding-bottom: 12px;
	opacity: 0.7;
}

.new-playlist-btn:hover,
.playlist-item a :hover {
	opacity: 1;
}

.create{
    color: var(--gray);
}

.new-playlist-btn .plus-icon {
	display: block;
	width: 36px;
	height: 36px;
	background-color: white;
	position: relative;
}

.new-playlist-btn .plus-icon::before,
.new-playlist-btn .plus-icon::after {
	content: '';
	display: block;
	background-color: black;
	height: 4px;
	width: 20px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.new-playlist-btn .plus-icon::after {
	transform: translate(-50%, -50%) rotate(90deg);
}

.playlist-item{
    color: var(--gray);
    padding-bottom: 20px;
}


/* BAR--FOOTER */
.bar--footer{
    margin-top: auto;
    display: flex;
    /* border:solid #adff2f; */
    width: 100%;
    flex-basis: 76px;
    flex-direction: column;
    color: var(--gray);
}

.install{
    display: flex;
    padding-left: 3px;
    padding-top: 10px;
    padding-bottom: 7px;
}

.user{
    display: flex;
    padding-top: 13px;
}

.small--bar{
    display: flex;
        width: calc(100% - 20px);
        background-color: var(--gray);
        border-radius: 45px;
        flex-basis: 1px;
}

.install, .user{
    gap: 10px;
}

.user p{
    color: white;
}





/* music */

.music {
	right: 0;
	top: 0;
	width: calc(100% - var(--sidebar-width));
	overflow-y: auto;
	background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    gap: 40px;
}



 /* UPGRADE */
.upgrade{
    position: sticky;
    height: 90px;
    top: 0;
    right: 0;
    display: flex;
    justify-content: right;
    background-color: #080B12;
    align-items: center;
    /* flex-direction: row-reverse; */
    /* background-color: aquamarine; */
    /* width: 1210px; */
    } 

    .btn--upgrade{
    flex-basis: 240px;
    border:solid white;
    color: white;
    text-transform: uppercase;
    display: flex;
    border-radius: 50%;
    height: 50px;
    justify-content: center;
    align-items: center;
    }

    .btn--upgrade i{
        display: flex;
        flex-basis: 190px;
        height: 100%;
    }

/* NAV MENU */

    .menu-container{
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        /* flex-grow: 1; */
        color: white;
        padding-top: 20px;
        height: 30px;
    }

    .nav-menu{
        display: flex;
        /* justify-content: space-between; */
        gap: 20px;
        flex-wrap: wrap;
        height: 30px;
    }

    .nav-menu a{
        height: 100%;
    }


    /* MAIN MUSIC MENU */

    .music h2{
        color: white;
    }

    .played{
        display: flex;
        flex-direction: row;
        /* flex-grow: 1; */
        flex-shrink: 1;
        height: 275px;
    }

    .row{
        display: flex;
        flex-direction: row;
        height: 100%;
        flex-grow: 1;
        gap: 13px;
        flex-wrap: wrap;
    }



    /* CREATED */

    .created{
        display: flex;
        flex-direction: column;
        flex-shrink: 1;
    }

    .song--container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .row-mix{
        display: flex;
        flex-direction: row;
        color: white;
    }



    /* POPULAR */
    .popular{
        display: flex;
        flex-direction: column;
        flex-shrink: 1;
    }

    .row-pop{
        display: flex;
        flex-direction: row;
        color: white;
    }

    .artist--container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .artist--container img{
        border-radius: 50%;
    }




    









    


/* PLAYER */

body > .player {
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #282828;
	height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
	/* width: 100%; */
    flex-shrink: 1;
    }


/* BRANO */

    .brano{
        display: flex;
        align-items: center;
        /* flex-shrink: 1; */
        flex-basis: 230px;
    }

    .song--actions{
        display: flex;
    }

    .container--song,
    .options{
        flex-basis: var(--sidebar-width);
        display: flex;
    }

    .container--song{
        /* width: 221px; */
        height: 45px;
        flex-shrink: 1;
        gap: 12px;
        align-items: flex-end;
        flex-basis: 230px;
    }

    .container--song img{
        width: 100%;
        height: 100%;
        flex-basis: 45px;
    }

    .song{
        display: flex;
        flex-direction: column;
    }
    .playing--title{
        color: white;
        text-decoration: solid;
    }

    .playing--artist{
        color: var(--gray);
    }

    .song--actions{
        display: flex;
        justify-content: space-between;
        gap: 12px;
        color: var(--gray);

    }

/* ACTIONS */

    .actions{
        flex-basis: 35%;
        display: flex;
        flex-direction: column;
        align-items: center; 
        padding-bottom: 5px;
        flex-shrink: 1;
    }

    .btns{
        display: flex;
        flex-direction: row;
        width: 200px;
        align-items: center;
        justify-content: center;
        padding-bottom: 13px;
        flex-shrink: 1;
    }



    .main--actions{
        display: flex;
        flex-basis: 100%;
        flex-shrink: 1;
    }

    .main--actions li{
        display: flex;
        justify-content: center;
        color: white;
        text-decoration: double; 
        width: 100%;
        font-size: 26px;
        flex-shrink: 1;
    }

    .left--actions{
        left:0;
        gap: 19px;
        flex-shrink: 1;
        display: flex;
    }

    .right--actions{
        right: 0;
        gap: 19px;
        flex-shrink: 1;
        display: flex;
    }

    .time--bar{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        color: white;
        text-decoration: double;
        gap: 23px;
        flex-shrink: 1;
    }

    .bar{
        display: flex;
        /* color: white; */
        text-decoration: solid;
        flex-grow: 1;
        height: 5px;
        border-radius: 45%;
        flex-shrink: 1;
    }

    .full--time{
        width: 100%;
        background-color: var(--gray);
        height: 100%;
        border-radius: 45px;
        flex-shrink: 1;
        display: flex;
    }


    .time{
        display: flex;
        width: 40%;
        background-color: white;
        height: 100%;
        border-radius: 45px;
        flex-shrink: 1;
    }



/* OPTIONS */
    .options{
        height: 37px;
        display: flex;
        /* justify-content: space-between; */
        /* border: solid #adff2f; */
        align-items: center;
        gap: 15px;
        flex-shrink: 1;
        /* flex-grow: ; */
    }

    .main--options{
        display: flex;
        height: 20px;
        flex-direction: row;
        justify-content: space-between;
        gap: 15px;
    }


    .media{
        display: flex;
        color: white;
        height: 100%;
        /* justify-content: space-between; */
        gap: 15px;
    }


    .media--icons{
        display: flex;
        gap: 15px;
    }

    .media--icons i{
        font-size: 18px;
    }

    .volume--icon i{
        font-size: 18px;
    }

    .volume--set{
        display: flex;
        flex-basis: 145px;
        /* border: solid #adff2f; */
        color: white;
        gap: 15px;
        align-items: center;
    }

    .volume--bar{
        display: flex;
        /* flex-basis: 113px; */
        /* width: 100%; */
        background-color: var(--gray);
        height: 100%;
        border-radius: 45px;
        height: 5px;
        flex-grow: 1;
    }

    .volume{
        width: 25%;
        background-color: white;
        height: 100%;
        border-radius: 45px;
        display: flex;
    }