* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
ol,
menu,
li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: currentColor;
}

:root{
    --sidebar-width: 230px;
}

/* MAIN */

main{
    max-width: 1430px;
    height: 100%;
    background-color: #141922;
}

/* SIDE */

.sidebar{
    position: fixed;
    left: 0;
    bottom: 90px;
    background-color: black;
    width: 230px;
    overflow: hidden;
}

.sidebar .music{
    height: calc(100vh - 90px);
}


/* music */

.music{
    width: calc(100%-230px);
    height: 1010px;
    display: flex;
    justify-content: right;
    position: fixed;
    right: 0;
    top: 0;
}

/* UPGRADE */
.upgrade{
    position: sticky;
    height: 90px;
    top: 0;
    right: 0;
    display: flex;
    justify-content: right;
    /* flex-direction: row-reverse; */
    background-color: aquamarine;
    width: 1210px;
}





/* PLAYER */

.player{
    background-color: #282828;
    height: 90px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

    }

    .container-song{
        width: 221px;
        height: 45px;
        margin-left: 16px;
        margin-top: 20px;
    }

    .container-song img{
        width: 100%;
        height: 100%;
    }

    .actions{
        width: 530px;
        height: 60px;
        border:solid whitesmoke;
    }

    .main-actions ul, li{
        color: bisque;
    }


    .options{
       width: 210px;
       height: 17px;
       border: solid whitesmoke;
       margin-right: 9px;
       margin-top: 36px;
    }