@media screen and (max-width: 878px) {


}

@media screen and (max-width: 662px) {


}

@media (max-width: 575px) {
	.sidebar {
		flex-basis: 50px;
	}

	.logo, .playlist, .bar--footer p, .site--nav p{
		display: none;
	}

	.small--bar{
		display: none;
	}





}



